:root {
  --green: #5cc242;
  --red: #bf526d;
  --black: #555555;
  --grey: #eaeaea;
  --darkgrey: #cfcfcf;
  --bluegrey: #eaf2f9;
  --navy: #142850;
  --blue: #2790c9;
  --lightblue: #abdafc;
  --purple: #7b77f5;
  --pink: #c1b5ff;
}

/* APPWIDE */

.App {
  box-sizing: border-box;

  width: 90%;
  margin: 5vw auto;

  text-align: center;
  font-family: 'Calibri', sans-serif;
}

.blocktitle {
  margin-top: 50px;
  margin-bottom: 0;

  text-align: left;
  font-size: 1.2rem;

  border-bottom: 2px solid var(--grey);
}

/* HEADER BLOCK */

.header {
  text-align: left;
}

.header__banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__pagetitle {
  margin: 0;
  font-size: calc(1.5rem + 0.6vw);
}

.header__subtitle {
  margin-top: 8px;
  margin-bottom: 0;

  font-weight: normal;
  font-size: calc(1rem + 0.5vw);
}

.header__selectlabel {
  margin-right: 16px;
  padding: 8px;

  border-right: 2px solid var(--darkgrey);
  border-bottom: 2px solid var(--darkgrey);
}

@media only screen and (max-width: 960px) {
  .header__selectlabel {
    display: none;
  }
}

.header__select {
  padding: 8px;
  margin-right: 4vw;

  font-family: 'Calibri';
  font-size: 1rem;

  border: 2px solid var(--darkgrey);
  box-shadow: 4px 4px 0px var(--darkgrey);
}

.header__select:focus {
  outline: none;
  border-color: var(--black);
}

/*SUMMARY BLOCK*/

.summary {
  display: flex;
  justify-content: space-evenly;
}

.summary__section {
  flex: 1;
  padding: 40px 0;
  border-bottom: 2px solid var(--grey);
}

.summary__section:first-child {
  border-right: 2px solid var(--grey);
}

.summary__section:last-child {
  border-left: 2px solid var(--grey);
}

.summary__figure {
  font-weight: 500;
  font-size: calc(1.4rem + 0.6vw);
}

.summary__unit {
  font-weight: bold;
  font-size: calc(0.7rem + 0.3vw);
}

.summary__aside {
  font-size: calc(0.7rem + 0.3vw);
}

.summary__text--green {
  color: var(--green);
}

.summary__text--red {
  color: var(--red);
}

/*CHART*/

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

/*TABLES: LEGEND AND INDUSTRY BLOCKS*/

.table__row {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;

  font-size: calc(0.7rem + 0.3vw);
  text-align: left;

  border-bottom: 1px solid var(--darkgrey);
}

.table__row--blueborder {
  border-bottom: 1px solid var(--blue);
}

.table__rowclip {
  position: absolute;
  z-index: -1;

  width: 100%;
  height: 100%;

  background-color: var(--bluegrey);
  animation: fill 1s;
}

@keyframes fill {
  0% {
    clip-path: polygon(0 0, 0 100%, 0% 100%, 0% 0%);
  }
}

.table__row--head {
  margin-top: 30px;
  font-weight: bold;
}

.table__row--datapadded .table__data {
  margin-bottom: 10px;
}

.table__datacontainer {
  width: 50%;
  min-width: 200px;
}

.table__data {
  margin-right: 4px;
  width: 24%;
  text-align: right;
}

.table__flexcontainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.table__industrytitle {
  color: var(--blue);
}

.table__symbol {
  min-height: 1rem;
  min-width: 1rem;
  margin: 12px;
}

.table__symbol--circle {
  border-radius: 50%;
}
